*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:black;
    line-height: 1.6;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: url(../photoes/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(0.5rem);
    header{
        h1{
            font-size: 4rem;
            font-family: monospace;
            color:crimson;
        }
    }
    main{
        h2{
            margin:0.5rem;
            text-align: center;
            font-size: 3rem;
        }
        p{
            margin:1rem;
            font-size: 1.5rem;
        }
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(0.2rem);
        border-radius: 2rem;
        padding:2rem;
        box-shadow: 0 0 10px solid white;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width:500px) {
    main{
        h2{
            font-size: 1.5rem !important;
        }
        p{
            font-size: 0.8rem !important;
            line-height: 1.4 !important;
        }
        
        padding:0rem !important;
    }
}
@media screen and (max-width:1000px) {
    main{
        h2{
            font-size: 2rem !important;
        }
        p{
            font-size: 1rem !important;
        }
    }
}