*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    .holderbar{
    .hambergur{
        display: none;
        .ham1,.ham3{
            width: 2.5rem;
            height: 0.19rem;
            background-color: gray;
            margin-bottom: 0.3rem;
        }
        .ham2{
            width: 1.5rem;
            height:0.19rem;
            background-color: gray;
            margin-bottom: 0.3rem;
        }
    }
    height: 8vh;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding:1rem;
    .cmpny{
        width: 80%;
        text-align: center;
        font-size: 2.5rem;
        color:#f63106;
        letter-spacing: 1.5px;
        font-weight: 900;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        left:5rem;
    }
    ul{
        display: flex;
        width: 20rem;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        li{
            margin:1rem;
            a{
                text-decoration: none;
                color:black;
                .logo-outer{
                    width: 2.5rem;
                    height:2.5rem;
                    border-radius: 100%;
                    border:1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color:black;
                        font-size: 70%;
                    }
                }
                }

            }
        }
    }
    .toggle{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        margin-top: 10px;
        margin-left: -10px;
        padding: 1rem;
        border-bottom:3px solid black;
        text-align: center;

        ul{
            list-style-type:none;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            line-height: 1.6;
            li a{
                text-decoration: none;
                color: dodgerblue;
                text-transform: capitalize;
                font-size: 1rem;
                letter-spacing: 1.5px;
                font-weight: 900;
            }
        }
    }
    .show{
        display: flex;
    }
    nav .navlist{
        width: 99vw;
        height: 5vh;
        font-size: 1.5rem;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        .roundholder{
            border:1.5px solid rgb(88, 88, 88);
            border-radius: 2rem;
            padding:0.2rem 1rem;
            margin:5px;
            background-color: white;
            font-size: 1rem;
            a{
                color:black;
                text-decoration: none;
            }
            
        }
        #categories{
            background-color: rgba(75, 194, 51, 0.822);
            color:white;
            a{
                color:white;
                text-decoration: none;
            }
        }
        .categoriesandproducts,.quicksearch ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
        }
        #inputbox{
        #searchbox{
            padding:0.2rem 2rem;
            border-radius: 1rem;
            outline: none;
            color:gray;
            font-size: 1rem;
            width: 100%;
            border:none;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30vw;
        height: 2rem;
        position: relative;
        right: 0.5rem;
        background-color: white;
        border-radius: 1rem;
        border:2px solid rgb(71, 71, 71);
        padding:5px;
        margin:10px;
        i{
            color:rgb(71, 71, 71);
            margin-right: 0.5rem;
        }
        }
    }
    background-color:whitesmoke;
    border-bottom: 3px solid black;
    padding:0.5rem;
    position: fixed;
    top:0;
    z-index: 99;
}
main{
    .categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
    margin:3.5rem;
    margin-top:9rem;
    #banner1{
        background: linear-gradient(to top,black,transparent),url(../photoes/fashion.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner2{
        background: linear-gradient(to top,black,transparent),url(../photoes/kitchen.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner3{
        background: linear-gradient(to top,black,transparent),url(../photoes/makeup.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner4{
        background: linear-gradient(to top,black,transparent),url(../photoes/stationary.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner5{
        background: linear-gradient(to top,black,transparent),url(../photoes/toys.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner6{
        background: linear-gradient(to top,black,transparent),url(../photoes/electronics.jpg);
        background-size: cover;
        background-position: left;
    }
    .banner{
        color:white;
        width: 25vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.764);
        i{
            font-size: 3rem;
            display: none;
        }
        h2{
        margin:-5rem;
        width: 70%;
        font-size: 3rem;
        }
        &:hover{
            i{
                display: inline;
            }
        }
    }
    }
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .moreoptions{
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        margin:2rem;
        transform: rotate(-45deg);
    }
}

footer{
    height: 30vh;
    background-color:whitesmoke;
    border-top: 3px solid black;
    ul{
        li ol{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            list-style-type: none;
            line-height: 1.5;
            margin-top: 1rem;
            color: gray;
        }
        a{
            color:black;
            text-decoration: none;
        }
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        text-transform: capitalize;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        padding:1rem;
    }
}
@media screen and (max-width:850px) {
    main{
        .categories{
            grid-template-columns: repeat(2, 1fr);
            .banner{
                width: 18rem !important;
                height: 35rem !important;
            }
        }
    }
}
@media screen and (max-width:650px) {
    main{
        .categories{
            grid-template-columns: repeat(2, 1fr);
            .banner{
                width: 18rem  !important;
                height: 30rem !important;
            }
        }
    }
}
@media screen and (max-width:600px) {
    main{
        .categories{
            grid-template-columns: repeat(1, 1fr);
            .banner{
                width: 18rem !important;
                height: 30rem !important;
            }
        }
    }
}

@media screen and (max-width:850px) {
    header{
        .holderbar{
            .hambergur{
                margin-top: 3rem;
            }
            .cmpny{
                margin-top: 3rem;
            }
        }
        ul{
            width: 15rem !important;
            margin-right:1rem;
            margin-top: 3rem;
            li{
                margin:0rem !important;
            }
        }
            nav .navlist{
                display: none !important;
            }
            height: 15vh;
        }
}
@media screen and (max-width:650px) {
    header{
        .holderbar{
            justify-content: center;
            .cmpny{
                width: 95%;
                font-size: 3rem;
                margin-top: 3rem;
                margin-left: -10vh;
                text-align: center;
            }
            .hambergur{
                display: inline-block;
                margin-top: 3rem;
                margin-left: -15vw;
            }
            ul{
                display: none;
            }
        }
            nav .navlist{
                display: none !important;
            }
            height: 15vh;
        }
}